#start-btn {
    font-size: 1.2em;
    font-weight: 500;
    background-color: #ffffff;
    color: #23234c;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.8em 1.8em;
    border-radius: 0.3em;
  }
  #result {
    margin-bottom: 1em;
    font-size: 1.5em;
    color: #23234c;
  }
  #result span {
    font-weight: 600;
  }
  
  .hide {
    display: none;
  }